@import "~kouto-swiss/index.styl"

meyer-reset()
box-sizing-reset()
normalize()

html, body, #root
  background: #ffffff
  font-size: 16px
  height: 100%
  overflow-x: hidden

*
  -webkit-tap-highlight-color: rgba(0,0,0,0)

@import "./fonts/space-mono"
@import "./logo"
@import "~nprogress/nprogress.css"
