@import "~kouto-swiss/index.styl"

meyer-reset()
box-sizing-reset()
normalize()

html, body, #root
  background: #ffffff
  font-size: 16px
  height: 100%
  overflow: hidden
  position: relative

#root {
  overflow-x: hidden
}

*
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  &::placeholder
    color: #777
    opacity: .5

@import "./animations/logo"
@import "./animations/toast"
@import "./fonts/space-mono"
@import "~nprogress/nprogress.css"
