@import 'animations/toast'
@import 'fonts/space-mono'

meyer-reset()
box-sizing-reset()

* {
  font-family: inherit
  font-size: 1rem
}

html, body
  font-size: 14px
  height: 100%
  // font-family: Space Mono, Consolas, monaco, monospace
  font-family: inconsolata, monospace

body
  overflow-x: hidden
  overflow-y: auto
  position: relative
  -webkit-overflow-scrolling: touch

#root
  min-height: 100%
  display: flex
  flex-direction: column
  transition: opacity 1.2s

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  color: inherit

  &::placeholder
    color: #78736f
    opacity: .5

  &:visited
    color: inherit

#nprogress
  position: relative
  z-index: 9999999

.switch-wrapper
  position: relative

  & > div
    position: absolute
    width: 100%
