NODE_ENV=development
PORT=3003
DEV_SERVER=http://0.0.0.0:3001
MONGO=mongodb://mongo/media-cdn
BASE_URL=http://127.0.0.1:3003

# configuration for session (cookie)
SESSION_SECRET=mysupersecret
SESSION_TTL=1d

# configuration for AWS SES
AWS_SES_API_VERSION=2010-12-01
AWS_SES_SENDER=
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_REGION=us-west-2

# configuration for SendGrid
SENDGRID_API_KEY=
SENDGRID_SENDER=

#configuration url api cdn
CDN_SERVER=http://media-cdn:3002/api/v1


